<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.origin.server.mp.tsf.mapper.TEnvPropertyMapper">
  <!-- Author:XYX  2020-07-21 20:42:02 -->
  <resultMap id="BaseResultMap" type="com.origin.server.mp.tsf.pojo.TEnvProperty">
    <id column="env_id" jdbcType="VARCHAR" property="envId" />
    <id column="prop_key" jdbcType="VARCHAR" property="propKey" />
    <result column="prop_value" jdbcType="VARCHAR" property="propValue" />
    <result column="prop_comment" jdbcType="VARCHAR" property="propComment" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from t_env_property
    where env_id = #{envId,jdbcType=VARCHAR}
      and prop_key = #{propKey,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.origin.server.mp.tsf.pojo.TEnvProperty">
    insert into t_env_property (env_id, prop_key, prop_value, 
      prop_comment)
    values (#{envId,jdbcType=VARCHAR}, #{propKey,jdbcType=VARCHAR}, #{propValue,jdbcType=VARCHAR}, 
      #{propComment,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.origin.server.mp.tsf.pojo.TEnvProperty">
    update t_env_property
    set prop_value = #{propValue,jdbcType=VARCHAR},
      prop_comment = #{propComment,jdbcType=VARCHAR}
    where env_id = #{envId,jdbcType=VARCHAR}
      and prop_key = #{propKey,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select env_id, prop_key, prop_value, prop_comment
    from t_env_property
    where env_id = #{envId,jdbcType=VARCHAR}
      and prop_key = #{propKey,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select env_id, prop_key, prop_value, prop_comment
    from t_env_property
  </select>
</mapper>